#topBar
{
    width:100vw;
    height: 10vh;
    background-color: #2F2E2E;
    position: absolute;
    top:0vh;
    left:0vw;
}
#rightBar
{
    width:13vw;
    height: 90vh;
    background-color: #2F2E2E;
    position: absolute;
    top:10vh;
    right:0vw;
}

#leftBar
{
    width:7vw;
    height: 90vh;
    background-color: #2F2E2E;
    position: absolute;
    top:10vh;
    left:0vw;
}

#curSlide
{
    position: absolute;
    top:13vh;
    left:11vw;
    visibility:initial;
}
.slide
{
    width:72vw;
    height: 40.5vw;
    background-color: white;
    visibility: hidden;
}
.slideThumb
{
    width:8vw;
    height: 4.5vw;
    background-color: white;
}
#slideThumb1
{
    position: absolute;
    left:2.5vw;
}
.textBox
{
    /*width:100%;*/
    font-size: 1vw;
    margin-left: 0.5vw;
    margin-top:0.5vw;
    border:none;
}
.textInputWrapper
{
    opacity: 0.9;
    border:5px dashed #787171;
}
/* .staticText
{

} */

.imgContained
{
    width:100%;
    height: 100%;
}
.staticImg
{
    
}

.editImg
{
    border:5px dashed #787171;
    /*opacity: 0.9;*/
}

.leftBarBtn
{
    text-align: center;
}
#newImpress
{
    height: 8vh;
    width:8vh;
    position: absolute;
    left: 1vh;
    top:1vh;
    text-align: center;
}
#openImpress
{
    height: 8vh;
    width:8vh;
    position: absolute;
    left: 10vh;
    top:1vh;
    text-align: center;
}
#saveImpress
{
    height: 8vh;
    width:8vh;
    position: absolute;
    left:19vh;
    top:1vh;
    text-align: center;
}

#changeBackColor
{
    height:8vh;
    width:8vh;
    position: absolute;
    left:1vh;
    top:1vh;
    text-align: center;
}

#changeFontColor
{
    height:8vh;
    width:8vh;
    position: absolute;
    left:1vh;
    top:1vh;
    text-align: center;
}
#slideTools
{
    height: 10vh;
    border-left: 2px solid #666464;
    position: absolute;
    left:28vh;
}

#textTools
{
    height: 10vh;
    border-left: 2px solid #666464;
    position: absolute;
    left:28vh;
}
#changeFont
{
    position: absolute;
    left:10vh;
    top:1vh;
    text-align: center;
    height: 8vh;
    width:35vh;
}
#selectFont
{
    width: 35vh;
    font-size:1.1vw;
}

#removeText
{
    height:8vh;
    width:8vh;
    position: absolute;
    left:46vh;
    top:1vh;
    text-align: center;
}
#imgTools
{
    height: 10vh;
    border-left: 2px solid #666464;
    position: absolute;
    left:28vh;
}
#removeImg
{
    height:8vh;
    width:8vh;
    position: absolute;
    left:1vh;
    top:1vh;
    text-align: center;
}